h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20;
}


p {
  font-family: Arial, Helvetica, sans-serif;
}

.cheese,
.empty,
.gray,
.white,
.red,
.orange,
.yellow,
.yellowGreen,
.lightGreen,
.cyan,
.lightBlue,
.blue,
.purple,
.magenta,
.darkGray {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  min-width: 3em;
  min-height: 3em;
}

.cheese {
  background: lightgoldenrodyellow;
}

.empty {
  background: lightgray;
}

.red {
  background: red;
}

.orange {
  background: orange;
}

.yellow {
  background: yellow;
}

.yellowGreen {
  background: yellowgreen;
}

.lightGreen {
  background: lightgreen;
}

.cyan {
  background: cyan;
}

.lightBlue {
  background: lightblue;
}

.blue {
  background: blue;
}

.purple {
  background: purple;
}

.magenta{
  background: magenta;
}

.darkGray{
  background: darkgray;
}

.white {
  background: white;
}

